<div class="container-fluid">
    <div class="row">    
      <div class="col-8">
        <img src="../assets/image/registationlogin.jpg" alt="">
      </div>
      <div class="col-4">

        <ul class="list-group" style="margin-top: 140px; padding-right: 40px;">
            <li class="list-group-item"><a routerLink="/registration">Registration</a></li>
            <li class="list-group-item"><a routerLink="/login">login</a></li>            
          </ul>     
          
          <!-- <h1>Angular Router</h1> -->

<!-- <router-outlet></router-outlet> -->
      </div>
    </div>
  </div>
