<div class="container">

<form class="form-horizontal" id="form-edit-client" [formGroup]="userForm" (submit)="getUserDetail($event)">
        <h4 class="text-center">Main Page</h4>
    <div class="mb-3">
      <!-- <label for="exampleFormControlInput1" class="form-label">Name</label> -->
      <input type="text" class="form-control" formControlName="fullname" id="exampleFormControlInput1" placeholder="Full Name*">
    </div>   
    <div formGroupName="address">
      <div class="mb-3">
        <!-- <label class="form-label">Street</label> -->
      <input class="form-control" formControlName="address1" placeholder="Address1*">
    </div>
    <div class="mb-3">
      <!-- <label class="form-label">Pincode</label> -->
      <input class="form-control" formControlName="address2" placeholder="Address2*">
    </div>
    <div class="mb-3">
        <!-- <label class="form-label">Street</label> -->
      <input class="form-control" formControlName="city" placeholder="City*">
    </div>
    <div class="mb-3">
        <!-- <label class="form-label">Street</label> -->
      <input class="form-control" formControlName="state" placeholder="State*">
    </div>  
    </div>
    
    <app-modal-basic [formvalue]="modalDisplay"></app-modal-basic> 
    
  
    
  
  </form>
</div>
  
  
  
  
  
  
  